<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Datepicker - Display multiple months</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

    <script>
    $( function() {
    $( "#datepicker" ).datepicker({
      numberOfMonths: 1,
      showButtonPanel: true
    });
  } );
    </script>
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Nawyki</h3>
        </div>





        <table class="table table-striped">
    <tr>
      <th>Nazwa</th>
      <th>Opis</th>
      <th>Czestotliwosc</th>
        <th>Kalendarz</th>
        <th>Statystyki</th>



    </tr>
    {% for a in data2 %}
      <tr>
        <td>{{a[1]}}</td>
        <td>{{ a[2]}}</td>
          <td>{{ a[4]}}</td>
          <td>


                <a href="kalendarz/{{a[0]}}" class="btn btn-default pull-right">Calendar</a></td>
          </td>
          <td>


                <a href="wybordaty/{{a[0]}}" class="btn btn-default pull-right">Historia</a></td>
          </td>




          </form>



            </tr>
    {% endfor %}
             </table>





    </div>
</body>

</html>